In [21]:
import numpy as np

In [23]:
import pandas as pd

In [24]:
myindex=['USA', 'Canada', 'Mexico']

In [25]:
mydata=[1776,1867,1821]

In [26]:
myser=pd.Series(data=mydata)

In [27]:
myser

0    1776
1    1867
2    1821
dtype: int64

In [28]:
type(myser)

pandas.core.series.Series

In [30]:
myser=pd.Series(data=mydata,index=myindex)

In [31]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [32]:
type(myser)

pandas.core.series.Series

In [33]:
myser[0]

1776

In [34]:
myser['USA']

1776

In [35]:
ages={'Sam':5, 'Frank':10, 'Spike':7}

In [36]:
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

In [37]:
q1={'Japan':80, 'China': 450, 'India': 200, 'USA': 250}
q2={'Brazil':100, 'China': 500, 'India': 210, 'USA': 260}

In [38]:
sales_Q1 = pd.Series(q1)
sales_Q2 = pd.Series(q2)

In [39]:
sales_Q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [40]:
sales_Q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [41]:
sales_Q1['Japan']

80

In [42]:
sales_Q1[0]

80

In [43]:
sales_Q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [44]:
sales_Q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [45]:
sales_Q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [46]:
sales_Q2 / 100

Brazil    1.0
China     5.0
India     2.1
USA       2.6
dtype: float64

In [47]:
sales_Q1+sales_Q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [48]:
sales_Q1.add(sales_Q2,fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [50]:
sales_Q1.dtype

dtype('int64')